body{
    background-color: #C65D7B;
}
#movie{
    background-color: #FFEEEE;
}
h1{
    color:#040303;
    font-family: sans-serif;
    margin-left: 400px;
    
    
}
th{
    font-weight: bold;
    font-family: sans-serif;
    background-color: #F190B7;
}
table{
    border-collapse: collapse;
    border-width: 2px;
    font-family: sans-serif;
    margin-left: 400px;
    border-color: darkslategrey;
    background-color: #FFEEEE;
}
img{
    margin:2px;
}

